<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <style>
        form
        {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 700px;
        }
        form input{
            margin: 10px;
        }
        .form-label{
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
        #exampleFormControlTextarea1{
            height: 170px;
        }
    </style>
</head>
<body>
    <h1>Create Project</h1>
    <form action="/initProject" method="post">
        <label for="" class="form-label" text-align="center">Create Project</label>
        <input type="text" name="name" class="form-control" placeholder="Project Name" id="exampleFormControlInput1">
        <input type="date" name="completionDate" class="form-control" id="exampleFormControlInput1">
        <input type="text" name="description"  placeholder="description" class="form-control" id="exampleFormControlTextarea1" rows="3">
        <input class="btn btn-primary"  type="submit" value="submit">
    </form>
</body>
</html>